<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="getstarted.css">
    <title>Pes Post</title>
</head>
<body>
    <!-- <form method="post" action="http://localhost:8080/">
        <a href="http://localhost:8080/posts">Get started</a>
    </form> -->
<div class="container">
  <p class="about"> This is a place where you can share your thoughts, ideas, and updates with others. 
  Explore posts from people around you and contribute your own to the community.</p>
  <form method="post" action="/">
    <a href="/posts" class="getstarted">Get started</a>
  </form>
</div>

</form>

</body>
</html>