body{
    margin: 0;
    padding: 0;
    color: white;
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.icon{
    display: flex;
    justify-content: center;
}
.Container{
    width: 55%;
    max-width: 800px;
    background-color: #242424  ;
    align-self: center;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
.card{
    width: 75%;
    max-width: 800px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.username{
    font-weight: bold;
    align-self: flex-start;
}
.caption{
    width: 75%;
    height:50px ;
    padding: 10px;
    font-size: 18px;
    border: 0.5px soild black;
    background-color: #2E2E2E ;
    color: white;
}
.LSD {
    align-self: flex-start;
}
.link{
    color: white;
    margin: 0 4px 4px 1px;
    font-size: 18px;
    /* display: inline-block; */
    text-decoration: none;
}
button {
    width: 150px;
    background-color: #007bff ; /* Green */
    color: black;              /* Text color */
    padding: 5px 20px;        /* Space inside the button */
    margin: 5px;
    border: none;              /* Remove border */
    border-radius: 5px;        /* Rounded corners */
    font-size: 16px;           /* Text size */
    cursor: pointer;           /* Pointer on hover */
    transition: background-color 0.3s; /* Smooth hover effect */
}
.image{
    /* margin: 10px 115px; */
    width: 250px;
    height: 250px;
    margin-left: 150px;
}

.liked {
  background-color: #16a34a;      
}

#hr{
    width: 100%;
}
.count{
    background-color: white;
}
.count:hover{
    background-color: lightgreen;
}
.delete{
    background-color: lightcoral;
}

.newPost{
    padding-top: 30px;
    padding-bottom: 30px;
    align-self: center;
}

/* .material-symbols-outlined {
    font-size: 34px !important;
    font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 24;
} */
