body{
    margin: 0;
    padding: 0;
    color: white;
    background-color: #1E1E1E;
}
.container {
    position: absolute;
    left: 350px;
    top: 100px;
    width:600px;
    height: 500px;
    text-align: center;
    margin-top: 100px; /* adjust spacing from top */
}

.about {
  font-size: 24px;
  margin-bottom: 20px;
}

.getstarted {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* change color as you like */
  color: white;
  text-decoration: none;
  border-radius: 6px;
}